*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.body{
    background-image: url(./img1.jpg);
    background-size: cover; 
}

.header{
    background-color: rgba(160, 109, 33, 0.781);
    height: 100px;
    box-shadow: 20px 20px 35px #000000;
    border: 1px solid black;
    border-radius: 10px;
    transform: scale(0.9);
}

.header:hover{
    background: black;
}

.menu{
    list-style: none;
    margin: 0 auto;
    width: 1200px;
}

.menu li{
    display: inline;
    margin-left: 80px;
}

a{
   text-decoration: none;
   color: white;
   text-shadow: 2px 2px 4px black;
   font-size: 70px;
}

